body.enable {
	background-color: #519c61;
	-webkit-animation: colorChange ease;
	-moz-animation: colorChange ease;
	-ms-animation: colorChange ease;
	-o-animation: colorChange ease;
	animation: colorChange ease;
}
/* animation */
@-webkit-keyframes colorChange {
	0% { background-color: #519c61; }
	100% {background-color: #c5232e;}
}
@-moz-keyframes colorChange {
	0% { background-color: #519c61; }
	100% {background-color: #c5232e;}
}
@-ms-keyframes colorChange {
	0% { background-color: #519c61; }
	100% {background-color: #c5232e;}
}
@-o-keyframes colorChange {
	0% { background-color: #519c61; }
	100% {background-color: #c5232e;}
}
@keyframes colorChange {
	0% { background-color: #519c61; }
	100% {background-color: #c5232e;}
}